:root {
  --orange: #e29578;
  --dark-green: #006d77;
  --light-green: #83c5be;
  --light-blue: #edf6f9;
  --pink: #ffddd2;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar styles */

.navbar {
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.navbar a {
  font-weight: 400;
  font-size: 1.5em;
}

.navbar a:hover {
  cursor: pointer;
}

.logo {
  padding-left: 3.3em;
  color: var(--orange);
}

.navMenu a {
  margin-right: 2em;
  color: var(--dark-green);
}

/* Underline animation styles */
.underline {
  display: inline-block;
  position: relative;
  color: var(--dark-green);
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark-green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Header styles */

header {
  position: relative;
  background: linear-gradient(
    to right,
    var(--dark-green) 0%,
    var(--dark-green) 65%,
    var(--orange) 65%,
    var(--orange) 100%
  );
  padding-top: 1em;
  padding-bottom: 8em;
  z-index: 100;
}

.title {
  padding-top: 3em;
  padding-left: 25%;
  font-size: 2.5em;
  color: var(--orange);
}

.subtitle {
  padding-left: 25%;
  padding-top: 0.5em;
  color: white;
  font-weight: 400;
}

.catImage {
  width: 400px;
  position: absolute;
  left: 53%;
  bottom: 0em;
  transform: scaleX(-1);
  z-index: 2;
}

/* Background header styles */

.bgLines {
  position: absolute;
  left: 53%;
  bottom: 0;
  width: 45em;
  height: 10em;
  background: white;
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 6px,
    transparent 3px,
    transparent 1px,
    rgba(255, 255, 255, 0.4) 7px
  );
}

.bgCircle {
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  left: -10%;
  bottom: -50%;
  z-index: 0;
}

.circ1 {
  border: 2px solid rgba(255, 255, 255, 0.1);
  height: 30em;
  width: 30em;
}

.circ2 {
  border: 4px solid rgba(255, 255, 255, 0.1);
  height: 20em;
  width: 20em;
}

.circ3 {
  border: 4px solid rgba(255, 255, 255, 0.2);
  height: 24em;
  width: 24em;
}

.circ4 {
  border: 6px solid rgba(255, 255, 255, 0.2);
  height: 21em;
  width: 21em;
}

.circ5 {
  border: 3px solid rgba(255, 255, 255, 0.1);
  height: 26em;
  width: 26em;
}

/* Universal section styles */
.sectionTitle {
  color: var(--orange);
  padding-bottom: 0.5em;
}

.sectionText {
  color: var(--dark-green);
}

section {
  padding: 5em;
}

/* About section styles */

.about {
  background-color: var(--light-blue);
  height: fit-content;

  z-index: 5;
}

/* Work section styles */

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* work image styles */

.imageContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  z-index: 5;
  padding: 2em 5em;
}

.placeholderImgSmall {
  width: 500px;
  height: 460px;
  background-color: #aeaeae;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 2;
}

.placeholderImgBig {
  background-color: #aeaeae;
  width: 850px;
  height: 460px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 2;
}

/* Project info styles */
.projectInfo {
  position: relative;
  background-color: rgb(45, 45, 45, 0.9);
  display: flex;
  flex-direction: column;
  color: var(--orange);
  align-items: center;
  justify-content: center;
}

.cross {
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 800;
  font-size: 1.5em;
}

.cross:hover {
  cursor: pointer;
  color: white;
}

.projectTitle {
  font-size: 1.5em;
  padding: 1em;
}

.projectText {
  padding: 0.5em;
}

.langContainer {
  padding: 2em;
}

.language {
  margin: 1em;
  padding: 0.3em;

  font-weight: 400;
  color: var(--light-green);
}

.projectBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.projectBtnContainer button {
  border: none;
  background-color: var(--light-green);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 1em;
}

.projectBtnContainer button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Work Background styles */

.diag {
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--orange);
  width: 1px;
  border: none;
}

.diag1 {
  height: 1000px;
  top: 0;
  left: 50%;
}

.diag2 {
  height: 1200px;
  top: 0;
  left: 60%;
}

.diag3 {
  height: 1200px;
  top: -20em;
  left: 60%;
}

.triangleContainer {
  position: absolute;
  bottom: -5em;
  left: -5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.triangleRow {
  display: flex;
  gap: 1em;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid var(--pink);
}

/* Toolkit section */

.toolkit {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolkitContainer {
  padding: 7em;
  width: 70%;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.toolkitContainer .sectionTitle {
  padding-bottom: 2em;
}

.toolkits {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(5, 1fr);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer span {
  color: var(--light-green);
  font-size: 1.2em;
}

.icon {
  width: 5em;
}

#toolkit2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#toolkit3 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#toolkit4 {
  grid-column-start: 2;
}

#toolkit5 {
  grid-column-start: 4;
}

/* Chat section styles */

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btnEmail {
  margin-top: 2em;
  font-size: 1.2em;
  padding: 0.5em 2em;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  border-radius: 5px;
  background-color: white;
  width: 10em;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btnEmail:hover {
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5000px;
  background-color: var(--dark-green);
  align-self: flex-end;
}

.arrowUp {
  width: 50%;
}
